/*==============================
=            Layout            =
==============================*/

.container {
max-width: 80%;
margin: 0 auto;
position: relative;
}

div[class^="c-"] {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
}

.c-100 {
    width: 100%;
}

.c-60 {
    width: 60%;
}
.c-40 {
    width: 40%;
}
.c-third {
    width: 33.33333333%;
}
/*=====  End of Layout  ======*/

/*==============================
=            Navbar            =
==============================*/

.navbar {
    position: relative;
    border-bottom: 3px solid #c9c9c9;
}

.navbar-title {
    display: inline-block;
    padding: 0 2em;
}

.navbar-tools {
    display: inline-block;
    float: right;
    padding: 28px 0;
}

.navbar-tools .navbar-items {
    width: 150px;
    display: inline-block;
    font-size: 24px;
    text-align: center;
    border-left: 1px solid black;
}

.navbar-items:last-of-type {
    border-right: 1px solid black;
}

/*=====  End of Navbar  ======*/

/*============================
=            Card            =
============================*/

.card {
    background-color: #ffffff;
    margin: 1em 1em 1em 0;
}

.card {
    margin-right: 0;
    padding: 1em;
}

.card-title {
    font-size: 28px;
    border-bottom: 3px solid #efefef;
    color: #4aaaa6;
    padding: 1em 0;
}

.card-content {
    padding: 1em 0;
}

/*=====  End of Card  ======*/

/*==============================
=            Footer            =
==============================*/

.footer {

}

.footer-content {

}

/*=====  End of Footer  ======*/

/*==================================
=            typography            =
==================================*/

.h1 {
    font-size: 30px;
    line-height: 80px;
}

.h2 {
    font-size: 28px;
}

.h3 {
    font-size: 24px;
}

.h4 {
    font-size: 20px;
}

/*=====  End of typography  ======*/

/*================================
=            Palettes            =
================================*/

.white-text {
    color: #ffffff;
}

.mint-text {
    color: #4aaaa6;
}

.gray-text {
    color: #767575;
}

.gray-bg {
    background-color: #efefef;
}

.mint-bg {
    background-color: #4aaaa6;
}

.white-bg {
    background-color: #ffffff;
}

/*=====  End of Palettes  ======*/

/*============================
=            misc            =
============================*/

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {

}

.f-l {
    float: left;
}

.f-r {
    float: right;
}

.m {
    margin: 1em;
}

.m-l {
    margin-left: 1em;
}

.m-r {
    margin-right: 1em;
}

.m-b {
    margin-bottom: 1em;
}

.m-t {
    margin-top: 1em;
}

.p {
    padding: 1em;
}

.p-l {
    padding-left: 1em;
}

.p-r {
    padding-right: 1em;
}

.p-b {
    padding-bottom: 1em;
}

.p-t {
    padding-top: 1em;
}

/*=====  End of misc  ======*/
