/*==============================
=            Navbar            =
==============================*/

.navbar {

}

.navbar-title {

}

.navbar-tools {

}

.navbar-tools .navbar-items {

}

/*=====  End of Navbar  ======*/

/*============================
=            Card            =
============================*/

.card {

}

.card-title {

}

.card-content {

}

/*=====  End of Card  ======*/

/*==============================
=            Footer            =
==============================*/

.footer {

}

.footer-content {

}

/*=====  End of Footer  ======*/

/*==================================
=            typography            =
==================================*/

.h1 {
    font-size: 30px;
}

.h2 {
    font-size: 28px;
}

.h3 {
    font-size: 24px;
}

.h4 {
    font-size: 20px;
}

/*=====  End of typography  ======*/

/*================================
=            Palettes            =
================================*/

.white-text {
    color: #ffffff;
}

.mint-text {
    color: #4aaaa6;
}

.gray-text {
    color: #767575;
}

.gray-bg {
    background-color: #efefef;
}

.mint-bg {
    background-color: #4aaaa6;
}

/*=====  End of Palettes  ======*/

/*============================
=            misc            =
============================*/

.link {

}

/*=====  End of misc  ======*/
